<%- include('./header.ejs') %>


    <!-- Hero Start -->
    <div class="container-fluid bg-primary p-5 bg-hero mb-5">
        <div class="row py-5">
            <div class="col-12 text-center">
                <h1 class="display-2 text-uppercase text-white mb-md-4">Blog Grid</h1>
                <a href="/" class="btn btn-primary py-md-3 px-md-5 me-3">Home</a>
                <a href="/blog" class="btn btn-light py-md-3 px-md-5">Blog</a>
            </div>
        </div>
    </div>
    <!-- Hero End -->


    <!-- Blog Start -->
    <div class="container-fluid p-5">
        <div class="row g-5">
            <!-- Blog list Start -->
            <div class="col-lg-12">
                <div class="row g-5">
                    <% b.forEach((items)=>{ %>
                        <div class="col-lg-4">
                            <div class="blog-item">
                                <div class="position-relative overflow-hidden rounded-top">
                                    <img class="img-fluid m-" name="image" src="<%= items.image.url %>" alt="">
                                </div>
                                <div class="bg-dark d-flex align-items-center rounded-bottom p-4">
                                    <div class="flex-shrink-0 text-center text-secondary border-end border-secondary pe-3 me-3">
                                        <span>
                                            <h6 class="text-light text-uppercase mb-0"><%= items.createdAt.toLocaleDateString() %></h6>
                                        </span>     
                                    </div>
                                    <p class="visually-hidden"><%= items.description %></p>
                                    <a class="h5 text-uppercase text-light" href="/blogDetails/<%= items._id %>"><%= items.title %></h4></a>
                                   
                                </div>
                            </div>
                        </div>
                   <% }) %>  
            
                  
                </div>
            </div>
            <!-- Blog list End -->

        </div>
    </div>
    <!-- Blog End -->

<%- include('./footer.ejs') %>